<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <title>Main</title>
</head>
<body>

    <script src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <script src="//cdn.bootcss.com/react/0.14.7/react.min.js"></script>
    <script src="//cdn.bootcss.com/react/0.14.7/react-dom.min.js"></script>
    <script src="//cdn.bootcss.com/react/0.13.3/JSXTransformer.js"></script>
    <script src="//cdn.bootcss.com/react-router/2.0.0/ReactRouter.js"></script>
    <script type="text/jsx" src="/static/router.js"></script>
</body>
</html>